@model gs_enterprise.Models.Chamada

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Chamada</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.duracao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.duracao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doutor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doutor.crm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Paciente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Paciente.cpf)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ChamadaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
