@model IEnumerable<gs_enterprise.Models.Chamada>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@{
    var successMessage = TempData["SuccessMessage"] as string;
}

@if (!string.IsNullOrEmpty(successMessage))
{
    <div class="alert alert-success">
        @successMessage
    </div>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.duracao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doutor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paciente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.duracao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doutor.crm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paciente.cpf)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ChamadaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ChamadaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ChamadaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
